/* styles go here */
.blok-input {
  padding-bottom: 20px;
}

.input-content {
  padding-bottom: 10px;
}

.intut-radio {
  display: inline;
}

.input {
  display: inline;
}

.last-input {
  padding-bottom: 0;
}
